# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
.env

# Ignore other unneeded files.
.DS_Store
coverage
/dump.rdb
