- if task.id
  %p
    %strong= t('activerecord.attributes.task.status')
    = task.aasm.human_state

  .field
    = label_tag :status_event, t('activerecord.events.task')
    .control= select_tag :status_event, task.status_options_for_select

