- if task.id
  .form-group.row
    .col-sm-3
      %p= t('activerecord.attributes.task.status')
    .col-sm-9
      = task.aasm.human_state
    .col-sm-3
      = label_tag :status_event, t('activerecord.events.task')
    .col-sm-8
      .control= select_tag :status_event, task.status_options_for_select, class: 'custom-select'
    .col-sm-1

