.container
  %h1.mt-5.title あなたのページ
  %table.table.table-borderless
    %tr
      %th{ scope: 'col' } 名前
      %td= @user.name
    %tr
      %th{ scope: 'col' } メールアドレス
      %td= @user.email

  = link_to t('back'), root_path
